<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Board</title>
    
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
    <style>
        
        .navbar{
            height:80px !important;
        }
        .navbar-inverse {
            background-color:transparent !important;
            border-color: transparent !important;
        }
        .fix_pad{
            padding-left:10px;
            padding-right:10px;
        }
        .title{
            padding-right: 50px;
        }
        .mar-top{
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a asp-controller="Posts" asp-action="Index" class="navbar-brand fix_pad"><img src="~/images/home.jpg" height="50" /></a>
                
            </div>
            <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav fix_pad">

        <li class="fix_pad"><a asp-controller="Ranks" asp-action="Index"><img src="~/images/reuting.jpg" height="50" /></a></li>
        <li class="fix_pad"><a asp-controller="Graduates" asp-action="Index"><img src="~/images/map.jpg" height="50" /></a></li>
        <li class="fix_pad"><a><img src="~/images/ruchange.jpg" height="50" /></a></li>
    </ul>
                @*<a asp-controller="Boards" asp-action="Index" class="btn btn-primary mar-top">Типы досок</a>
                <a asp-controller="Tags" asp-action="Index" class="btn btn-primary mar-top">Тэги</a><br />*@
                <a asp-controller="AdminPanel" asp-action="Index" class="btn btn-primary mar-top">Админпанель</a>
</div>
        </div>
    </div>
    <div class="container body-content">
    <img src="~/images/logo.jpg" height="70" class="title" />
    <img src="~/images/title.jpg" height="70" />
        @await Html.PartialAsync("_LoginPartial")
        <p></p>
        @RenderBody()
        <p></p>
        <footer>
            
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
